/* Start Variables */
:root {
  --main-color: #6C55F9;
  --second-color: #2D2B3A;
  --transparent-color: #898798;
  --section-padding: 60px;
}

/* End Variables */

/* Start Component */
.section-padding {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.main-heading h2 {
  font-size: 40px;
  font-weight: 600;
}

.main-heading h2 span {
  color: var(--main-color);
}

.main-heading .separator {
  width: 35px;
  height: 3px;
  background-color: var(--main-color);
  display: block;
  margin-bottom: 20px;
}

.main-heading p {
  line-height: 1.6;
  color: var(--transparent-color);
  font-size: 20px;
  margin-bottom: 40px;
}

.main-heading h4 {
  text-transform: uppercase;
  color: #898798;
  font-weight: 500;
  letter-spacing: 3px;
  margin: 10px auto 10px;
  width: fit-content;
}

/* End Component */

/* Start Global Rules */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Work Sans', sans-serif;
}

/* Rest Some properties */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  padding-left: 0%;
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Header */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  height: 70px;
  margin: 10px auto;
  box-shadow: 0 2px 6px rgb(100 95 136 / 15%);
}

.header .container .logo {
  /* margin: auto; */
  flex-basis: 150px;
  width: 150px;
  font-size: 25px;
  font-weight: bold;
  /* width: fit-content; */
  position: relative;
}

.header .container .logo a {
  color: black;
}

@media (max-width: 767px) {
  .header .container {
    justify-content: space-between;
  }

  .header .container .logo {
    margin: 0%;
  }
}

.header .container .logo span {
  color: var(--main-color);
}

.header .container .navItems span i {
  margin: auto;
  font-size: 28px;
}

@media (min-width: 768px) {
  .header .container .navItems span i {
    display: none;
  }
}

.header .container .navItems span ul {
  display: flex;
  gap: 20px;
  flex-basis: 50%;
  flex: 1;
}

@media (max-width: 767px) {
  .header .container .navItems span ul {
    display: none;
  }

  .header .container .navItems span:hover ul {
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 60px;
    border-bottom: 1px solid #ccc;
    padding-inline-end: 20px;
    z-index: 1;
  }

  .header .container .navItems span ul li {
    padding: 15px;
  }

  .header .navItems span ul li:hover a {
    padding-left: 25px;
  }
}

.header .container .navItems span ul li a {
  color: #777;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.header .container .navItems span ul .active {
  color: var(--main-color);
}

.header .navItems span ul li:hover a {
  color: black;
  font-weight: bold;
}

.header .container .header-quote {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .header .container .header-quote {
    display: none;
  }
}

.header .container .header-quote a {
  margin: auto;
  color: #333;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* End Header */

/* Start Landing */
.landing {
  border-bottom: 1px solid #e9e8f5;
}

.landing .container {
  display: flex;
  gap: 60px;
}

@media (max-width: 767px) {
  .landing .container {
    flex-direction: column;
  }

  .landing .landing-data {
    order: 2;
  }
}

.landing .landing-data {
  flex-basis: 45%;
}

.landing .landing-data h1 {
  font-size: 50px;
  font-weight: normal;
  margin: 0 0 30px;
  color: var(--second-color, #2D2B3A);
}

.landing .landing-data p {
  line-height: 1.6;
  color: #777;
  font-size: 18px;
  margin: 0 0 40px;
}

.landing .landing-data .landing-links {
  display: flex;
  gap: 35px;
}

.landing .landing-data .landing-links a {
  color: #333;
  border: 1px solid #d3d0d0;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.landing .landing-data .landing-links button {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 20px;
  cursor: pointer;
  width: fit-content;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.landing .landing-data .landing-links button:hover {
  background-color: #5d5c5c;
  color: white;
}

.landing .landing-data .landing-links button i {
  color: white;
  font-size: 20px;
}


.landing .landing-image {
  flex: 1;
}

.landing .landing-image img {
  width: 100%;
}

/* End Landing */

/* Start Features */
.features {
  border-bottom: 1px solid #e9e8f5;
}

.features .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features .box {
  flex-basis: 350px;
  display: flex;
  gap: 20px;
}

.features .box .txt h5 {
  margin-top: 0%;
  font-weight: 600;
  font-size: 25px;
  margin: 0 0 15px;
  color: var(--second-color);
}

.features .box .txt p {
  color: var(--transparent-color);
  font-size: 14px;
}

/* End Features */

/* Start Info  */
.info {
  border-bottom: 1px solid #e9e8f5;
}

.info .container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .info .container {
    flex-direction: column;
  }

  .info .info-contents {
    justify-content: center;
  }
}

.info .box {
  flex-basis: 50%;
}

.info .info-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.info .info-image img {
  max-width: 100%;

}

.info .info-contents {
  display: flex;
  flex-direction: column;
}

.info .info-contents img {
  max-width: 100%;
}

/* End Info  */

/* Start Counter */
.counter .container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.counter .item {
  padding: 50px;
  text-align: center;
  border: 1px solid #B4B2C5;
  width: 33%;
}

@media (max-width: 991px) {
  .counter .container {
    flex-direction: column;
  }

  .counter .item {
    width: 100%;
  }
}

.counter .item p {
  color: #B4B2C5;
  font-size: 20px;

}

.counter .item h2 {
  font-weight: 500;
  font-size: 40px;
}

/* End Counter */

/* Start Pricing */
.pricing .container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 991px) {
  .pricing .container {
    flex-direction: column;
  }
}

.pricing .container .box {
  flex-basis: 50%;
}

.pricing .pricing-data .main-heading h2 {
  max-width: 450px;
}

.pricing .pricing-data a {
  background-color: var(--main-color);
  padding: 10px 20px;
  width: fit-content;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.pricing .pricing-data a:hover {
  background-color: #645F88;
}

.pricing .pricing-data button {
  padding: 10px 20px;
  border: 1px solid #d3d0d0;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.pricing .pricing-data button:hover {
  background-color: #F6F5FC;
}

.pricing .pricing-image {
  width: 100%;
}

.pricing .pricing-image img {
  max-width: 100%;
}


@media (max-width: 991px) {
  .pricing .pricing-image {
    display: flex;
    justify-content: center;
  }
}

/*  End Pricing  */

/* Start Benefits */
.benefits {
  border-bottom: 1px solid #e9e8f5;
}

.benefits .main-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 450px;
  margin: 0 auto 60px;
  max-width: 100%;
}

.benefits .main-heading .separator {
  margin: 0 auto 0;
}

.benefits .benefits-contents {
  display: flex;
  gap: 30px;
  text-align: center;
}

@media (max-width: 991px) {
  .benefits .benefits-contents {
    flex-direction: column;
  }
}

.benefits .benefits-contents .box span {
  font-size: 80px;
  color: var(--second-color);
}

.benefits .benefits-contents .box h4 {
  font-size: 25px;
  font-weight: 500;
}

.benefits .benefits-contents .box p {
  color: #898798;
  line-height: 1.6;
}

/* End Benefits */

/* Start Pricing Plans  */

.pricing-plans .main-heading {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.pricing-plans .main-heading h2 {
  color: var(--second-color);
}

.pricing-plans .main-heading .separator {
  margin: 0 auto 60px;

}

.pricing-plans .content {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .pricing-plans .content {
    flex-direction: column;
  }
}

.pricing-plans .content .box {
  border: 1px solid #e9e8f5;
  padding: 35px 20px;
  text-align: center;
  max-width: 300px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

}

.pricing-plans .content .box.special-box {
  background-color: #6C55F9;
  border-color: #5d47eb;
  position: relative;
  overflow: hidden;
  color: white;
}

.pricing-plans .content .box.special-box .head {
  background-color: #0ac7f6;
  position: absolute;
  width: 150px;
  padding: 2px;
  top: 4%;
  right: -13%;
  color: white;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.pricing-plans .content .box.special-box h4 {
  color: #FAC14D;
}

.pricing-plans .content .box.special-box a {
  background-color: inherit;
  color: white;
}

.pricing-plans .content .box.special-box a:hover {
  background-color: white;
  color: #6C55F9;
}

.pricing-plans .content .box.special-box h3 {
  color: #dedce9;
}

.pricing-plans .content .box .icon {
  font-size: 60px;
  color: #B4B2C5;
}

.pricing-plans .content .box h4 {
  color: #B4B2C5;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 10px;
}

.pricing-plans .number-container .number {
  font-size: 70px;
  position: relative;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.pricing-plans .number-container .number::before {
  content: "$";
  position: absolute;
  top: 4px;
  left: -13px;
  font-size: 20px;
}

.pricing-plans .number-container .number::after {
  content: '/ Mo';
  position: absolute;
  bottom: 18px;
  right: -77px;
  font-size: 20px;
  font-weight: bold;
}

.pricing-plans .content .box h3 {
  font-weight: 500;
  color: #898798;
  font-size: 20px;
  margin-bottom: 40px;
}

.pricing-plans .content .box a {
  padding: 10px 20px;
  border: 1px solid #d3d0d0;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.pricing-plans .content .box a:hover {
  background-color: #d3d0d0;
  color: black;
}

/* End Pricing Plans  */

/* Start Our-heros */
.heros {
  background-color: #f6f5fc;
  /* height: 550px; */
}

.heros .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.heros .container .content {
  height: 320px;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

@media (max-width: 767px) {
  .heros .container .content {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    height: fit-content;
  }
}

.heros .image {
  width: 300px;
}

.heros .image img {
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.heros .text {
  flex-basis: 60%;
}

.heros .text p:first-child {
  line-height: 1.6;
  color: #777;
  font-size: 20px;
}

.heros .text p:last-child {
  font-size: 15px;
  margin-bottom: 20px;
}

.heros .text p:last-child strong {
  color: #2D2B3A;
}

.heros .text p:last-child span {
  color: #8e8aad;
}

.heros .bullets {
  position: absolute;
  bottom: -3%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.heros .bullets li {
  border: 1px solid black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.heros .bullets .active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/* Start Contact Us */
.contact {
  border-bottom: 1px solid #e9e8f5;
}

.contact .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .contact .container {
    flex-direction: column;
    gap: 30px;
  }
}

.contact .container .info {
  flex-basis: 50%;
}

.contact .container .info p {
  line-height: 1.5;
  color: #777;
  margin-bottom: 30px;
}

.contact .container .info ul li {
  margin-bottom: 30px;
  color: #8e8aad;
}

.contact .container .info ul li a {
  color: #8e8aad;
}

.contact .container .info ul li:first-child::before {
  content: '\f279';
  font-family: 'Font Awesome 5 Free';
  border: 1px solid #D7D5E9;
  color: #6C55F9;
  width: 40px;
  height: 40px;
  font-size: 15px;
  padding: 10px;
  border-right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.contact .container .info ul li:nth-of-type(2)::before {
  content: '\f0e0';
  font-family: 'Font Awesome 5 Free';
  border: 1px solid #D7D5E9;
  color: #6C55F9;
  width: 40px;
  height: 40px;
  font-size: 15px;
  padding: 10px;
  border-right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.contact .container .info ul li:last-child::before {
  content: '\f3cd';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Font Awesome 5 Free';
  border: 1px solid #D7D5E9;
  color: #6C55F9;
  width: 40px;
  height: 40px;
  border-right: 10px;
  font-weight: 800;
  font-size: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.contact .container .contact-form {
  flex-basis: 50%;
}

.contact .container .contact-form .main-heading h4 {
  margin: 0;
  margin-bottom: 20px;
}

.contact .container .contact-form .main-heading h2 {
  margin: 0 auto 10px;
}

.contact .container .contact-form form .main-input {
  display: block;
  margin-bottom: 20px;
  padding: 10px 15px;
  width: 100%;
  outline: none;
  border: 1px solid #d6dbd9;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.contact .container .contact-form form .main-input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  outline: 0;
  color: #495057;
  background-color: #fff;
}

.contact .container .contact-form form .main-input::placeholder {
  color: #495057;

}

.contact .container .contact-form form textarea {
  height: 200px;
}

.contact .container .contact-form form button {
  background-color: #6C55F9;
  border-color: #6C55F9;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
}

.contact .container .contact-form form button:hover {
  background-color: #645F88;
}

/* End Contact Us */

/* Start Our Blog */

.blog .main-heading {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 60px;
}

.blog .blog-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.blog .blog-content .box {
  box-shadow: 0 2px 6px rgb(100 95 136 / 16%);
  padding: 30px 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.blog .blog-content .box .image {
  width: 44px;
  height: 44px;

}

.blog .blog-content .box .image img {
  max-width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.blog .blog-content .box.special-box {
  background-color: #6C55F9;
  color: white !important;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.blog .blog-content .box.special-box h3,
.blog .blog-content .box.special-box p a,
.blog .blog-content .box.special-box a {
  color: white;
}

.blog .blog-content .box.special-box>a {
  margin-top: 60px;
  display: block;
}

.blog .blog-content .box h3 {
  color: #645F88;
  font-weight: 500;
  margin-bottom: 10px;
}

.blog .blog-content .box .header>a {
  font-size: 14px;
  color: #B4B2C5;
}

.blog .blog-content .box .text {
  font-size: 14px;
  color: #898798;
  line-height: 1.6;
}

.blog .blog-content .box p a {
  color: #2D2B3A;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
}

.blog .blog-content .box>a {
  color: #6C55F9;
}

.blog .container>a {
  margin: 40px auto;
  display: block;
  border: 1px solid #898798;
  font-weight: 500;
  border-color: #6C55F9;
  color: #6C55F9;
  padding: 10px 20px;
  border-radius: 25px;
  width: fit-content;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.blog .container>a:hover {
  background-color: #6C55F9;
  color: white;
}

/* End Our Blog */

/* Start Vendors */
.vendors {
  background-color: #F6F5FC;
}

.vendors .container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

/* End Vendors */

/* Start Footer */

.footer .column-container {
  display: flex;
  gap: 20px;
}

@media (max-width: 767px) {
  .footer .column-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .column-container .box {
    text-align: center;
  }
}

.footer .column-container .box {
  flex-basis: 25%;
}

.footer .column-container .box:first-child h3 {
  color: #645F88;
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 24px;
}

.footer .column-container .box:first-child h3 span {
  color: #6C55F9;
}

.footer .column-container .box:first-child p {
  line-height: 1.5;
  color: #898798;
}

.footer .box:first-child .mail,
.footer .box:first-child .tele {
  margin-bottom: 30px;
  display: block;
}


.footer .column-container .box>h4 {
  margin: 0 0 24px;
  font-size: 25px;
  color: #645F88;
}


.footer .column-container .box.middle-boxs li a {
  margin-bottom: 15px;
  color: #898798;
  display: block;
}

.footer .column-container .box:last-child form input {
  display: block;
  width: 100%;
  margin-bottom: 60px;
  padding: 15px 20px;
  outline: none;
  border: 1px solid #898798;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.footer .column-container .box:last-child form input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.footer .column-container .box:last-child .icon-holder {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer .column-container .box:last-child .icon-holder a {
  color: #898798;
}

.footer .column-container .box:last-child .icon-holder a span {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ebeaf1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.footer .column-container .box:last-child .icon-holder a span:hover {
  background-color: #6C55F9;
  color: white;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.footer .row-container {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer .row-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.footer .row-container .box:first-child a {
  font-weight: bold;
  color: #6C55F9;
}

.footer .row-container .box:last-child {
  display: flex;
  gap: 20px;
}

.footer .row-container .box:last-child a {
  font-weight: bold;
  color: #6C55F9;
  font-weight: 500;
}

.footer .me {
  margin: 30px auto;
  width: fit-content;
}

.footer .me a {
  color: #6C55F9;
  font-weight: bold;
}

/* End Footer */